# Server Configuration
PORT=4000

# JWT Authentication
JWT_SECRET=your_jwt_secret_key

# Gmail Credentials (used to fetch transaction emails)
MAIL_USER=your_email@example.com
MAIL_PASS=your_gmail_app_password

# Hugging Face API Token (used by the Python service)
HF_TOKEN=your_huggingface_api_token

# PostgreSQL Database
# Connection Pooler URL (used by Prisma Client)
DATABASE_URL=your_postgres_pooler_connection_url

# Direct Database URL (used by Prisma Migrations)
DIRECT_URL=your_postgres_direct_connection_url