GROQ_API_KEY=your_api_key_here

PORT=4000
JWT_SECRET=your_jwt_secret_key

DATABASE_URL="Your database connection string here"
DIRECT_URL="Your direct database connection string here"


GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=your_google_callback_url_here

FRONTEND_URL=http://localhost:3000
NODE_ENV=development

TOKEN_ENCRYPTION_KEY=your_token_encryption_key_here
