fastapi
uvicorn
python-dotenv
python-multipart

langchain
langchain-core
langchain-groq
langgraph

groq

pandas
numpy

requests
beautifulsoup4
RapidFuzz
dateparser

PyMuPDF

google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

psycopg[binary]
SQLAlchemy

email-validator